<html>
	<head>
		<title>Tobi ist doof</title>
	</head>
	<body>	
		<div> 
    		<h1>Lieber Tobias</h1>
    		Kannst du das auch?
    		<p> Oder ist dir das zu schwer? </p>
    	</div> 	
    	<div> 
    		<h2> "Es ist so schwer, gutes HTML zu finden"	</h2>
    		<p> Naja ich weiß ja nicht. Das hier ist schon sehr schön.</p>	
    		<h3> Falls du Tips brauchst: </h3>
    		<a href="https://css-tricks.com/what-beautiful-html-code-looks-like/" >Für Anfänger</a> 
    		<p><strong>Das müsstest sogar DU hinbekommen</strong></p>
    		<em>Falls doch nicht....</em>
    		<p><h1> Pech Aldärrr <h1/></p>

    	</div> 	

    </body>	
</html>