h1 a {
	color: #FCA985;
	font-family: 'Sacramento';
}
body {
    padding-left: 45px;
    color: red;
    background: url("https://www.clicktorelease.com/code/gif/1.gif"); 
}
.page-header {
    background-color: #ff1400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #00CC03;
    font-size: 150pt;
    text-decoration: none;
}
.content {
    margin-left: 40px;
}    
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.date {
    float: right;
    color: #863205;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
	background-color: #07F723;
	text-shadow: 1px 2px yellow;
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #F707E7;
}

